body{
    margin:0px;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#ss{
    width: 500px;
    height:500px;
    position: relative;
    font-size: 10px;
}
#sun{
    background-color: rgb(255, 174, 0);
    border-radius: 50%;
    top:30em;
    left:15em;
    box-shadow: 0 0 3em rgb(250, 222, 7);
    position: absolute;
    width:10em;
    height: 10em;

}
#earth,#moon{
    position: absolute;
    border-style: solid;
    border-color: white
        transparent
        transparent
        transparent;
    border-width:0.1em 0.1em 0 0;
    border-radius: 50%;
}
#earth{
    top:20em;
    left:5em;
    width: 30em;
    height:30em;
    animation: orbit 36.5s linear infinite;
}
#moon{
    top:0;
    left:0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

#earth::before,
#moon::before {
content:'';
position: absolute;
border-radius: 50%;
}

#earth::before {
top: 2.8em;
right: 2.8em;
width: 3em;
height: 3em;
background-color: rgb(10, 110, 181);
}
#moon::before{
    top:0.8em;
    right:0.2em;
    width: 1.3em;
    height:1.2em;
    background-color: silver;    
}
@keyframes orbit{
    to{transform:rotate(360deg);}
}